body {
    background-color: #3c3c3c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Ekranın tamamını kapsaması için ortalama */
    height: 100vh;
    margin: 0;
    color: white;
    position: relative;
    overflow: hidden; /* Kaydırma çubuklarını gizlemek için */
}

#dropZone {
    border: 2px dashed #ccc;
    padding: 20px;
    width: 100%; /* Genişliği yüzde 100 yapalım */
    height: 100vh; /* Yüksekliği tam ekran yapalım */
    background-color: #444444;
    color: #ccc;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute; /* Üstte durmasını sağlamak için konum ayarı */
    top: 0;
    left: 0;
    overflow: hidden; /* DropZone alanında kaydırma çubuklarını gizlemek için */
}

#dropZone p {
    margin: 0;
    font-size: 1.2em;
}

#dropZone #browse {
    color: #00aaff;
    cursor: pointer;
    text-decoration: underline;
}

.container {
    text-align: center;
    margin-top: 20px;
    width: 80%;
    max-width: 800px;
    display: none; /* Başlangıçta gizli */
}

video {
    width: 100%;
    margin-bottom: 10px;
}

.text-container {
    background-color: #444444;
    color: #fff;
    padding: 10px;
    width: 100%;
    margin: 10px auto;
    text-align: center;
    border-radius: 5px;
    display: block;
    user-select: text;
    height: 60px; /* Sabit yükseklik */
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.controls button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 10px 10px;
    padding: 0;
}

.controls button img {
    width: 36px;
    height: 36px;
}

.controls button:hover img {
    filter: brightness(1.4);
}

.video-info {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
}