body {
    background-color: #3c3c3c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Üst kısma taşımak için */
    height: 100vh;
    margin: 0;
    color: white;
    position: relative;
    overflow: auto; /* Kaydırma çubuklarını geri getirmek için */
}

#dropZone {
    padding: 20px;
    width: 100%;
    height: 100vh;
    background-color: #444444;
    color: #ccc;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto; /* Kaydırma çubuklarını geri getirmek için */
    box-sizing: border-box; /* Kesikli çizgileri kaldırmak için */
}

#dropZone p {
    margin: 0;
    font-size: 1.5em; /* Metni büyütmek için */
}

#dropZone #browse {
    color: #00aaff;
    cursor: pointer;
    text-decoration: underline;
}

.container {
    text-align: center;
    margin-top: 0; /* Güncellenmiş üstten uzaklık */
    width: 92%;
    max-width: 1000px;
    display: none;
}

video {
    width: 92%; /* Video oynatıcı genişliği */
    margin-bottom: 10px; /* Margin bottom değerini düzeltelim */
}

.text-container {
    background-color: #444444;
    color: #fff;
    padding: 10px;
    width: 92%; /* Text-container genişliği */
    margin: 10px auto;
    text-align: center;
    border-radius: 5px;
    display: block;
    user-select: text;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4em; /* Altyazı boyutunu büyüttük */
}

.controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.controls button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 10px 10px;
    padding: 0;
}

.controls button img {
    width: 34px;
    height: 34px;
}

.controls button:hover img {
    filter: brightness(1.4);
}

.video-info {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
}