<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">
    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.8/plyr.css">
    <script src="https://cdn.plyr.io/3.6.8/plyr.js"></script>
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>moyi</title>
</head>
<body>
    {% if video %}
            <div id="videoContainer">
                <video id="videoPlayer" class="plyr" controls>
                    <source src="{{ url_for('video', filename=video) }}" type="video/mp4">
                    Tarayıcınız video etiketini desteklemiyor.
                </video>
                <div id="indicator">{{ video.split('.')[0] }}/{{ total }}</div>
            </div>
            <div id="controls">
            <button onclick="window.location.href='/?video_index={{ prev_index }}'" class="btn">
                <img src="{{ url_for('static', filename='prev_index.svg') }}" alt="Önceki">
            </button>

            <button onclick="window.location.href='/?video_index={{ next_index }}'" class="btn">
                <img src="{{ url_for('static', filename='next_index.svg') }}" alt="Sonraki">
            </button>

            &emsp;

            <button id="red" class="toggle-btn" onclick="nextVideo()">
                <img src="{{ url_for('static', filename='nextVideo.svg') }}" alt="Red">
            </button>

            &emsp;

            <button onclick="togglePlay()" class="btn" id="toggleButton">
                <img src="{{ url_for('static', filename='cc_off.svg') }}" alt="Cevabı Göster" id="toggleImage">
            </button>

            &emsp;

            <button id="prevSubtitle" class="btn" onclick="prevSubtitle()">
                <img src="{{ url_for('static', filename='prevSubtitle.svg') }}" alt="Önceki Alt Yazı">
            </button>

            <button id="nextSubtitle" class="btn" onclick="nextSubtitle()">
                <img src="{{ url_for('static', filename='nextSubtitle.svg') }}" alt="Sonraki Alt Yazı">
            </button>

            &emsp;

            <button id="green" class="toggle-btn" onclick="window.location.href='/hide_video/{{ current - 1 }}'">
                <img src="{{ url_for('static', filename='hide_video.svg') }}" alt="Green">
            </button>
        </div>
        <div id="answerContainer">
            <div id="answerBox"></div>
        </div>
    {% endif %}
    <script>
        const video = document.getElementById('videoPlayer');
        const answerBox = document.getElementById('answerBox');
        const player = new Plyr('#videoPlayer');
        let subtitles = {{ subtitles|tojson }};
        let currentSubtitleIndex = 0;

        //video.onclick = function() {
        //    if (video.paused) {
        //        video.play();
        //    } else {
        //        video.pause();
        //    }
        //};

        function nextVideo() {
            var totalVideos = {{ total }};
            var randomVideoIndex = Math.floor(Math.random() * totalVideos);
            window.location.href = '/?video_index=' + randomVideoIndex;
        }

        function updateSubtitles() {
            const currentTime = video.currentTime;
            const currentSubtitle = subtitles.find(sub => currentTime >= sub.start && currentTime <= sub.end);
            if (currentSubtitle) {
                answerBox.textContent = currentSubtitle.text;
                currentSubtitleIndex = subtitles.indexOf(currentSubtitle);
            }

            if (video.ended) {
                const lastSubtitle = subtitles[subtitles.length - 1];
                answerBox.textContent = lastSubtitle.text;
                currentSubtitleIndex = subtitles.length - 1;
            }
        }

        function prevSubtitle() {
            if (currentSubtitleIndex > 0) {
                video.currentTime = subtitles[currentSubtitleIndex - 1].start;
            }
        }

        function nextSubtitle() {
            if (currentSubtitleIndex < subtitles.length - 1) {
                video.currentTime = subtitles[currentSubtitleIndex + 1].start;
            }
        }

        function syncSubtitles() {
            updateSubtitles();
            requestAnimationFrame(syncSubtitles);
        }

        video.addEventListener('play', () => {
            requestAnimationFrame(syncSubtitles);
        });

        window.onload = function() {
            const answerVisibility = localStorage.getItem('answerVisibility') === 'true';
            answerBox.style.display = answerVisibility ? 'block' : 'none';
            const toggleImage = document.getElementById('toggleImage');
            toggleImage.src = answerVisibility ? "{{ url_for('static', filename='cc_on.svg') }}" : "{{ url_for('static', filename='cc_off.svg') }}";
            video.muted = false;
        };

        function togglePlay() {
            const isVisible = answerBox.style.display === 'block';
            answerBox.style.display = isVisible ? 'none' : 'block';
            const toggleImage = document.getElementById('toggleImage');
            toggleImage.src = isVisible ? "{{ url_for('static', filename='cc_off.svg') }}" : "{{ url_for('static', filename='cc_on.svg') }}";
            localStorage.setItem('answerVisibility', !isVisible);
        }

        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/service-worker.js')
            .then(function(registration) {
                console.log('Service Worker registered with scope:', registration.scope);
            }).catch(function(err) {
                console.log('Service Worker registration failed:', err);
            });
        }
    </script>
</body>
</html>
